<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="usr-index">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide scene1">
                        <div class="photo"></div>
                        <div class="ani open-box" swiper-animate-effect="fadeOut" swiper-animate-duration="1s" swiper-animate-delay="2s">
                            <div class="ani text" swiper-animate-effect="fadeIn" swiper-animate-duration="1s" swiper-animate-delay="0.3s"></div>
                        </div>
                        <div class="ani logo" swiper-animate-effect="fadeIn" swiper-animate-duration="1s" swiper-animate-delay="2.8s"></div>
                    </div>
                    <div class="swiper-slide scene2">
                        <div class="photo"></div>
                        <h3>
                            <div class="ani text" swiper-animate-effect="fadeIn" swiper-animate-duration="1s" swiper-animate-delay="0.3s"></div>
                        </h3>
                    </div>
                    <div class="swiper-slide scene3">
                        <div class="photo"></div>
                        <h3>
                            <div class="ani text" swiper-animate-effect="fadeIn" swiper-animate-duration="1s" swiper-animate-delay="0.3s"></div>
                        </h3>
                    </div>
                    <div class="swiper-slide scene4">
                        <div class="photo"></div>
                        <div class="button"><i class="icon icon-button"></i></div>
                        <h3>
                            <div class="ani text" swiper-animate-effect="fadeIn" swiper-animate-duration="1s" swiper-animate-delay="0.3s"></div>
                        </h3>
                    </div>
                    <div class="swiper-slide scene5">
                        <div class="photo"></div>
                        <div class="button"><i class="icon icon-button"></i></div>
                        <h3>
                            <div class="ani text" swiper-animate-effect="fadeIn" swiper-animate-duration="1s" swiper-animate-delay="0.3s"></div>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>