@import '../config.less';

.photo(@folder, @scene) {
    @url: '@{g-baseUrl}/assets/img/@{folder}/@{scene}/photo.jpg';
    @url-local: '../assets/img/@{folder}/@{scene}/photo.jpg';

    width: 100%;
    height: image-height(@url-local);
    background-image: url(@url);
    background-size: 100% auto;
    background-repeat: no-repeat;
    top: 0;
}

.scene(@folder, @scene) {
    @url: '@{g-baseUrl}/assets/img/@{folder}/@{scene}/bg.jpg';
    @url-local: '../assets/img/@{folder}/@{scene}/bg.jpg';

    background-image: url(@url-local);
    background-size: 100% auto;
    background-position: bottom;

    .photo {
        @url: '@{g-baseUrl}/assets/img/@{folder}/@{scene}/photo.jpg';
        @url-local: '../assets/img/@{folder}/@{scene}/photo.jpg';

        width: 100%;
        height: image-height(@url-local);
        background-image: url(@url);
        background-size: 100% auto;
        background-repeat: no-repeat;
        top: 0;
    }

    .text {
        @url: '@{g-baseUrl}/assets/img/@{folder}/@{scene}/text.png';
        @url-local: '../assets/img/@{folder}/@{scene}/text.png';

        width: image-width(@url-local);
        height: image-height(@url-local);
        background-image: url(@url);
        background-size: 100% auto;
        background-repeat: no-repeat;
        margin: 0 auto;
    }
}

.usr-index {
    .swiper-container {
        height: 100vh;
    }

    .swiper-slide {
        height: 100vh;
        display: flex;
        flex-direction: column;

        .photo {
            flex-grow: 0;
        }

        h3 {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }

    .scene1 {
        @url-local: '../assets/img/main/scene1/photo.jpg';

        height: image-height(@url-local);

        > div {
            position: absolute;
        }

        .photo { .photo('main', 'scene1'); }

        .open-box {
            width: 100%;
            top: 285px;
        }

        .text {
            @url: '@{g-baseUrl}/assets/img/main/scene1/text.png';
            @url-local: '../assets/img/main/scene1/text.png';

            width: image-width(@url-local);
            height: image-height(@url-local);
            background-image: url(@url);
            background-size: contain;
            background-repeat: no-repeat;
            margin: 0 auto;
        }

        .logo {
            @url: '@{g-baseUrl}/assets/img/main/scene1/logo.png';
            @url-local: '../assets/img/main/scene1/logo.png';

            width: image-width(@url-local);
            height: image-height(@url-local);
            background-image: url(@url);
            background-size: contain;
            background-repeat: no-repeat;
            top: 273px;
            left: 105px;
        }
    }

    .scene2 {
        .scene('main', 'scene2');
    }

    .scene3 {
        .scene('main', 'scene3');
    }

    .scene4 {
        .scene('main', 'scene4');

        .button {
            position: absolute;
            top: 828px;
            width: 100%;
            text-align: center;
        }
    }

    .scene5 {
        .scene('main', 'scene5');

        .button {
            position: absolute;
            top: 830px;
            width: 100%;
            text-align: center;
        }
    }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .usr-index {
        .scene1 {
            @url-local: '../assets/img/x/scene1/photo.jpg';

            height: image-height(@url-local);

            > div {
                position: absolute;
            }

            .photo { .photo('x', 'scene1'); }

            .open-box {
                width: 100%;
                top: 285px;
            }

            .text {
                @url: '@{g-baseUrl}/assets/img/x/scene1/text.png';
                @url-local: '../assets/img/x/scene1/text.png';

                width: image-width(@url-local);
                height: image-height(@url-local);
                background-image: url(@url);
                background-size: 100% auto;
                background-repeat: no-repeat;
                margin: 0 auto;
            }

            .logo {
                @url: '@{g-baseUrl}/assets/img/x/scene1/logo.png';
                @url-local: '../assets/img/x/scene1/logo.png';

                width: image-width(@url-local);
                height: image-height(@url-local);
                background-image: url(@url);
                background-size: 100% auto;
                background-repeat: no-repeat;
                top: 273px;
                left: 105px;
            }
        }

        .scene2 {
            .scene('x', 'scene2');
        }

        .scene3 {
            .scene('x', 'scene3');
        }

        .scene4 {
            .scene('x', 'scene4');

            .button {
                position: absolute;
                top: 1015px;
                width: 100%;
                text-align: center;
                transform: scale(1.2);
            }
        }

        .scene5 {
            .scene('x', 'scene5');

            .button {
                position: absolute;
                top: 1008px;
                width: 100%;
                text-align: center;
                transform: scale(1.2);
            }
        }
    }
}